.hr {
  width: 20vw;
  padding-left: 0px;
  margin-top: 30px;
  margin-left: 0px;
}

.liItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.filterUlContainer {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.check {
  margin-right: 25px;
  outline: none;
  cursor: pointer;
}

.labelItem {
  cursor: pointer;
  outline: none;
}
