.jobsContainer {
  background-color: #000000;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 25px;
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 576px) {
  .jobsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.jobItemContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.searchInput {
  background-color: transparent;
  border: none;
  color: aliceblue;
  padding: 8px;
}

.searchBox {
  border: 2px solid #cbd5e1;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.searchElement {
  border: none;
  background-color: #7e858e;
  height: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.onRetryBut {
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
  border-radius: 12px;
  width: 150px;
  padding: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.failureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileFilter {
  width: 25vw;
}

@media screen and (max-width: 576px) {
  .profileFilter {
    width: fit-content;
  }
}

.ulContainer {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.noJobsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noJobsDescription {
  color: #475569;
  font-family: 'Roboto';
  font-weight: bold;
}
