.headBox {
  list-style-type: none;
  line-height: 0px;
  background-color: #272727;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0px;
}

.butBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.profile {
  color: #f1f5f9;
  font-weight: bold;
  font-family: 'Roboto';
  padding-right: 40px;
  cursor: pointer;
}

.headerImg {
  height: 50px;
  outline: none;
  cursor: pointer;
}

.logout {
  cursor: pointer;
  outline: none;
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6366f1;
  border-radius: 10px;
}

.link {
  text-decoration: none;
}

.mobileBox {
  display: none;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .mobileBox {
    display: flex;
    list-style-type: none;
    line-height: 0px;
    background-color: #272727;
    background-size: cover;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
  }
  .headBox {
    display: none;
  }
}

.mobile-but {
  background-color: transparent;
  padding: 12px;
  color: white;
  border: none;
  font-size: 25px;
}

.mobile-home {
  color: #f1f5f9;
  font-size: 25px;
}

.mobile-suit {
  color: #f1f5f9;
  font-size: 25px;
}
